<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.findme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FindMe"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.android.findme.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.example.android.findme.provider.PlaceContentProvider"
            android:authorities="com.example.android.findme"
            android:exported="false"/>

    </application>

</manifest>